<form [formGroup]="formAddCategory" (ngSubmit)="onSubmit()" class="mt-5">
  <div class="mb-3">
    <label for="name" class="form-label">Name</label>
    <input formControlName="name" type="text" class="form-control" id="name" />
  </div>
  <div class="mb-3">
    <label for="photo" class="form-label">Image</label>
    <input
      (change)="onFile($event)"
      type="file"
      class="form-control"
      id="photo"
    />
  </div>
  <button class="btn btn-primary">ADD CATEGORY</button>
</form>
